*,*:before,*:after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
a,a:hover{
   color: #fff685;
   text-decoration: none;
}

html,body {
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   background-color: #333;
   color: #fff;
   font-size: 16px;
}
.wrapper {
   min-height: 100%;
   overflow: hidden;
   padding: 15px;
}

h1{
   font-size: 25px;
   margin: 0 0 20px 0;
   text-transform: uppercase;
   letter-spacing: 2px;
   text-align: center;
}

h2{
   font-size: 20px;
   margin: 0 0 20px 0;
}

h3{
   font-size: 15px;
   text-decoration: underline;
   margin: 0 0 20px 0;
}

.krem, .new, .bloom, .bukt, .numb, .wh, .prog, .poz, .win {
   font: normal 100%, "trebuchet ms, sans-serif";
   color: #f75990;
}

.section__1, .section__2, .section__3, .section__4{
   border-radius: 20px 20px 0px 0px;
   font-size: 14px;
   padding: 15px;
   margin: 0 0 15px 0;
}

.section__1{
   background-color: #794f45;
   font-family: 'Lato', sans-serif;
}

.section__2{
   background-color: #77608d;
   font-family: 'Montserrat', sans-serif;
}
.section__3{
   background-color: #7a956b;
   font-family: 'Quicksand', sans-serif;
}
.section__4{
   background-color: #fff685;
   color:#333
}

.class__1{
   list-style: disc;
}
.class__2{
   list-style: none;
}
.class__2 :before {
   content: "\00A7";
   margin-right: 10px;
}

.class__3{
   list-style: circle;
}
.commoun{
   margin-top: 5px;
}
ul{
   margin-top: 5px;
}
